@import "tailwindcss";

:root {
  --foreground: #1c1c1c;
  --primary: #d4d7d6;
  --secondary: #f44726;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins-sans);
  --font-display: var(--font-lato-sans);
}

body {
  color: var(--foreground);
  font-weight: 400;
  font-family: var(--font-sans);
}

.indicators li {
  margin: 0 3px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.snap-item {
  scroll-snap-align: start;
}
